.cotacoes{
    display: flex;
    flex-direction: row;
    color: grey;
    margin-top: -50px;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.cardDolar{
    background-color: dodgerblue;
    color: white;
}

.cardGuarani{
    background-color: dodgerblue;
    color: white;
}

.valMoedas{
    display: flex;
    justify-content: center;
}