.consultar{
    color: white !important;
    background-color: green !important;
}

.editar{
    color: white !important;
    background-color: blue !important;
}

.demitir{
    color: white !important;
    background-color: red !important;
}

.acao{
    width: 100px;
    margin: 10px;
}

.acoes{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}