.botaoCadastrar{
    display: flex;
    width: 200px;
    margin-top: 30px;

}

.mainDiv{
   margin: 0px !important;
}

.insert{
    background-color: rgb(60, 124, 219);
    color: white;
    border-radius: 100px !important;
    width: 125px !important;
    height: 125px !important;
}

.linkForm{
    color: white;
    text-decoration: none;
}
.linkFormGerente{
    font-size: 120px;
    text-decoration: none;
    color: white;
}
.linkFormGerente:hover{
    color: white;
}