.textosManager{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.cardInfoManager{
    display: flex;
    justify-content: space-between;
}

.cardStatusManager{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.cardAtivoManager{
    width: 250px;
    color: white;
    background-color: green;
}

.cardInativoManager{
    width: 250px;
    color: white;
    background-color: red;
}