.textos{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
}

.cardStatus{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.cardAtivo{
    width: 250px;
    color: white;
    background-color: green;
}

.cardInativo{
    width: 250px;
    color: white;
    background-color: red;
}