.textos{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
}

.cardStatus{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.cardSt{
    width: 350px;
    color: white;
    height: 130px;
}

.cardAtivo{
    background-color: green;
}

.txSt{
    font-size: 30px;
}

.cardInativo{
    background-color: red;
}

.numS{
    display: flex;
    justify-content: center;
    font-size: 35px;
}