.containerMain{
    margin-top: 10px !important;
    margin-left: 280px;
}

.opAcao{
    display: flex;
    justify-content: center;
}

.consult{
    color: white !important;
    background-color: rgb(0, 157, 255) !important;
    width: 100px;
    margin: 10px;
    text-decoration: none;
}

.consult:hover{
    color: white !important;
    background-color: rgb(34, 168, 252) !important;
    
}

.edit{
    color: white !important;
    background-color: rgb(35, 83, 255) !important;
    width: 100px;
    margin: 10px;
    text-decoration: none;
}
.edit:hover{
    color: white !important;
    background-color: rgb(35, 83, 255) !important;
}

.demit{
    color: white !important;
    background-color: rgb(195, 0, 0) !important;
    width: 100px;
    margin: 10px;
    text-decoration: none;
}

.demit:hover{
    color: white !important;
    background-color: rgb(195, 0, 0) !important;
}

.acoes{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

.teste{
    background-color: white;
    margin: 100px !important;
}