.containerMain{
    margin-top: 90px;
    margin-left: 280px;
}

.opAcao{
    display: flex;
    justify-content: center;
}

.consultar{
    color: white !important;
    background-color: green !important;
}

.editar{
    color: white !important;
    background-color: blue !important;
}

.demitir{
    color: white !important;
    background-color: red !important;
}

.acaoE{
    width: 100px;
    margin: 10px;
}

.acoes{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

.teste{
    background-color: white;
    margin: 100px !important;
}